@using ControlWork7.Services
@model ControlWork7.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card border-5">
        <div class="card-header"></div>
        <div class="row align-content-around">
            <div class="col-4 px-5">
                <img src="@Html.DisplayFor(model => model.CoverImageUrl)" class="h-50 w-100"/>
                <p>@Html.DisplayFor(model => model.Name)</p>
                <p>Автор: @Html.DisplayFor(model => model.Author)</p>
                <p>Статус:
                    @if (Model.Status == Status.В_наличии)
                    {
                        @Html.DisplayFor(model => model.Status)
                    }
                    else if (Model.Status == Status.Выдана)
                    {
                        @Html.DisplayFor(model => model.Status)
                    }
                </p>
            </div>

            <div class="col-3 border border-end-0 border-dark">
                <h3>Описание задачи</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
    </div>
</div>
