@model IEnumerable<BookLoan>

@{
ViewData["Title"] = "MyBooks";
}
@if (Model != null && Model.Any())
{
<div class="row">
    @foreach (var loan in Model)
    {
    <div class="col-md-3 col-sm-6 col-12 mb-4 d-flex align-content-stretch">
        <div class="card border-warning" style="width: 18rem;">
            <img src="@loan.Book.CoverImageUrl" class="card-img-top" alt="Image" style="width: 100%; max-width: 288px; height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">@loan.Book.Name</h5>
                <p class="card-text">Автор: @loan.Book.Author</p>
                <p class="card-text">Статус: @loan.Book.Status</p>
                
                <form asp-action="ReturnBook" method="post" class="mt-3">
                    <input type="hidden" name="loanId" value="@loan.Id" />
                    <button type="submit" class="btn btn-danger">Возрать книгу</button>
                </form>
            </div>
        </div>
    </div>
    }
</div>
}
else
{
    <p>У вас нет книг</p>
}


